* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-attachment: fixed;
  @include responsive(mobile) {
    background: url("../images/bg-top-mob.svg"), url("../images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position: left top, center bottom;
  }
}
.container {
  width: 100%;
  max-width: 1170px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
