$familiy: "League Spartan";
$weight-b: 700;
$weight-m: 500;
$weight-r: 400;
$h1-size: 5.6rem;
$h1-lineHeight: 48px;
$text-size: 1.9rem;
$text2-size: 1.7rem;
$text-lineHeight: 1.32;
$text2-lineHeight: 1.29;
$h4-size: 1.7rem;
$h4-lineHeight: 16px;

$title-listBg-color: #512051;
$text-color: #927b91;
$white-color: #ffffff;
$h4-color: #ee69a4;
$stars-bg-color: #f7f2f7;
